{% extends "base.html" %}
{% block title %}Novo Evento — Tuna{% endblock %}
{% block content %}
<h1>Novo evento</h1>
<div class="card">
  <form method="post">
    <label>Nome do evento</label>
    <input type="text" name="nome" placeholder="Ex: 14/JUN - Festas de Santo António" style="margin-bottom:1rem">
    <label>Opções de resposta (uma por linha)</label>
    <textarea name="opcoes" placeholder="Sim&#10;Não&#10;Levo Carro"></textarea>
    <div style="margin-top:1rem;display:flex;gap:.5rem">
      <button class="btn btn-primary">Criar evento</button>
      <a href="{{ url_for('index') }}" class="btn">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}
